<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienbenidxs a MercadoLiebre</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script>
        function validar(){
            if(document.getElementById('password').value == document.getElementById('password-verify').value){
            document.getElementById('password-verify').style.backgroundColor="green"
            document.getElementById('password-error-message').innerHTML='las contrasenas coinciden'
        }
        else{
            document.getElementById('password-verify').style.backgroundColor='pink'
            document.getElementById('password-error-message').innerHTML='Las contrasenas no coinciden'
        }
        }
    </script>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="img/logo-mercado-liebre.svg" alt="logo de mercado liebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Compra en coutas y sin tarjeta de credito</p>
        </div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="button-container">
            <button class="bars-menu"><i class="fas fa-bars"></i></button>
        </div>
    </header>
    <form action="#" method="post">
        <div>
            <input type="text" name="nombre-apellido" placeholder="Nombre y apellido" class="input-styles">
        </div>
        <div>
            <input type="text" name="nombre-usuario" placeholder="Nombre de usuario" class="input-styles">
        </div>
        <div>
            <h2>Fecha de nacimiento:</h2>
            <input type="date" name="fecha-nacimiento" placeholder="Fecha de nacimiento" class="input-styles">
        </div>
        <div>
            <input type="text" name="domicilio" placeholder="Domicilio" class="input-styles">
        </div>
        <div>
            <h2>Perfil de usuario</h2>
            <label>
                <input type="radio" name="perfil-usuario" value="Comprador"> Comprador
            </label>
            <label>
                <input type="radio" name="perfil-usuario" value="Vendedor"> Vendedor
            </label>
        </div>
        <div class="intereses">
            <h2>Intereses</h2>
            <label>
                <input type="checkbox" name="interes" value="electro"> Electro
            </label>
            <label>
                <input type="checkbox" name="interes" value="moda"> Moda
            </label>
            <label>
                <input type="checkbox" name="interes" value="hogar"> Hogar
            </label>
            <label>
                <input type="checkbox" name="interes" value="jugueteria"> Jugueteria
            </label>
            <label>
                <input type="checkbox" name="interes" value="vida-sana"> Vida sana
            </label>
        </div>
        <div>
            <h2>Foto de usuario
                <input type="file" name="avatar">
            </h2>
        </div>
        <div class="passwords">
            <input type="password" name="pass" placeholder="Contrasena" id="password" class="input-styles" minlength="8">
            <input type="password" name="confirm-pass" placeholder="Confirmar contrasena" id="password-verify" class="input-styles" minlength="8" onkeyup="validar()">
            <div>
                <span id="password-error-message"></span>
            </div>
        </div>
        <button type="submit" class="button-type"> Enviar</button>
        <button type="reset" class="button-type"> Borrar</button>
    </form>
    <footer>
        <div class="button-container-footer">
            <button class="button-footer"><i class="fas fa-credit-card"></i></button>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="button-container-footer">
            <button class="button-footer"><i class="fas fa-gift"></i></button>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="button-container-footer">
            <button class="button-footer"><i class="fas fa-user-shield"></i></button>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>