*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 12px;
    background-color: #ebebeb;
}

header { 
    background-color: #EAC926;
}

header .top-header p {                      /*texto de comprar en cuotas*/
    margin-top: 10px;
    display: flex;
}

.top-header{                                /*estilos logo barra parrafo*/
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex: auto;
    justify-content: center;
    padding: 20px;
}

div.top-header .logo{                       /*centra el logo*/
    padding: 5px;
    width: 50%;
}

header .form{                               /*buscar productos marcas y mas*/
    width: 50%;
    display: inline-flex;
}

.form{                                      /*boton busca aqui*/
    text-decoration: none;
    border: none;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    color: #666;
}

header nav ul li {                          /*modifica el estilo de la lista*/
    list-style-type: none;
}

header nav ul li a {                        /*quita el subrayado y cambia el color de los items de la lista*/
    text-decoration: none;
    color:black;
}

header .button-container{                   /*centra el boton hamburguesa*/
    text-align: center;
    padding-bottom: 10px;
}

header button.bars-menu {                   /*estilos del boton*/
    border-radius: 5px;
    background-color: #03264C;
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin: 10px 0px 20px 0px;
}

h3{                                         /*estilos para subtitulos Ofertas y Basado en ult visita*/
    font-size: 24px;
    padding: 10px;
}

h3,                                         /*color de seccion visitas y ofertas y descripciones */
.description{
    color: #666;
}

.discount,
.description{                               /*estilos para el descuento y descripcion*/
    font-size: 16px;
}

.price {                                    /*estilo solo para el precio*/
    font-size: 18px;
    flex: 30%;
}

section.banner img{                         /*banner de ofertas*/
    width: 100%;
}

main{                                       /*contenedor main*/
    width: 90%;
    margin: 0 auto;
}

main section article{                       /*contenedor de artiuclos*/
    background-color: #fff;
    margin: 10px 0px;
}

main section article img{                   /*imagenes de articulos*/
    width: 100%;
}

main section article i,                     /*color ofertas e icono de envios*/
.discount{
    color: #39b54a;
}

.main-article{                              /*separa imagen de producto*/
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap ;
    position: relative;
    width: 100%;
    align-content:flex-start;
}

main section article i{                     /*nuevos estilos carrito*/
    display:block;  
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.discount{
    flex: 70%;
}

h4{                                         /*titulares de footer*/
    margin: 0px;
    font-weight: lighter;
}

footer div h4{                              
    font-weight: bold;
    font-size: 16px;
}

footer .button-container-footer{            /*contenedor de botones y texto*/
    text-align: center;
}

footer .button-footer{                      /*iconos footer*/
    color: #03264C;
    font-size: 2em;
    border: 0px;
    margin-bottom: 10px;
    margin-top: 40px;
    transition: color 1000ms;
} 

.button-footer:hover{
    color: #39b54a;
}

.button-container-footer p{                 /*parrafos del footer*/
    margin: 0px;
}

.textos-footer{
    padding: 10px 10px 40px 10px;
}


.description{                               /*oculta nombre de producto*/
    display: none;
}

nav{                                        /*oculta navegacion del header*/
    display: none;
}

form{                                       /*formulario*/
    padding: 20px;
    display: flex;
    flex-direction: column;
}

form div{                                   /*separa inserciones*/
    padding: 10px 0px;
}

.input-styles{                              /*estilos de los input de texto*/
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #666;
    background-color: #FFFFFF;
}

.intereses{                                 /*checkboxes intereses*/
    display: flex;
    flex-direction: column;
}

.intereses label{                           /*separa los intereses*/
    padding: 10px 0px;
}

.button-type{                               /*botones enviar y borrar*/
    color: white;
    background-color: #03264C;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}

.button-type:hover{
    background-color: #39b54a;
}

.button-type a{
    text-decoration: none;
    color: white;
}

.button-type{
    transition: background-color 450ms;
}

form input:invalid{
    background-color: pink;
}

@media screen and (min-width:361px) and (max-width:769px) {
    main section article:hover .description{
        display: block;
    }

    main section article:hover i{
        transform: rotate(-90deg);
    }

    main section article i{
        transition: transform 450ms;
    }

    main section article{
        width: 45%;
        transition: box-shadow 450ms;
    }

    main section article:hover{
        box-shadow: 0 0 10px rgb(100,100,100);
    }

    nav{
        display: block;
    }

    .button-container{
        display: none;
    }

    main section .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    header nav {
        display: flex;
        justify-content: space-between;
    }
    
    header nav ul{
        display: flex;
        padding: 10px;
    }

    header nav ul li{
        padding: 3px;
    }

    .top-header{
        justify-content: space-between;
        align-items: center;
    }

    div.top-header .logo,
    header .form{
        width: 30%;
    }

    header .top-header p{
        width: 25%;
    }

    form{
        width: 50%;
        margin: auto;
    }

}

@media screen and (min-width:769px){
    main section article:hover .description{
        display: block;
    }

    main section article:hover i{
        transform: rotate(-90deg);
    }

    main section article i{
        transition: transform 450ms;
    }

    main section article{
        width: 22%;
        transition: box-shadow 450ms;
    }
    
    main section article:hover{
        box-shadow: 0 0 10px rgb(100,100,100);
    }

    nav{
        display: block;
    }

    .button-container{
        display: none;
    }

    main section .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    header nav {
        display: flex;
        justify-content: space-between;
    }
    
    header nav ul{
        display: flex;
    }

    header nav ul li{
        padding: 15px;
    }

    .top-header{
        justify-content: space-between;
        align-items: center;
    }

    div.top-header .logo,
    header .form{
        width: 30%;
    }

    form{
        width: 30%;
        margin: auto;
    }

    .textos-footer{
        display: flex;
        margin: auto;
        padding: 10px 10px 40px 10px;
    }
}